.navbar-container {
  margin: 25px 0 0 0;
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-self: end;
  align-items: center;
}

.navbar-tabs {
  display: flex;
  gap: 8px;
}

.navbar-button {
  font-family: 'Bobara';
  background-color:brown;
  &:hover {
    background-color: white;
    border-color: black;
    color: black;
  }
}

#logo {
  height: 50px;
  width: 50px;
  margin-left: 4px;
}